.search-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.search-nearest-title {
    padding: 10px;
    background-color: #424242;
    color: #ffffff;
    font-size: 14px;
}

.search-nearest-title-link {
    background-color: #ffb74d;
    border-radius: 4px;
    /*text-decoration: underline;*/
    padding: 4px 8px;
    cursor: pointer;
    color: #424242;
    margin: 4px 4px;
}

.search-nearest-title-link:hover {
    color: #ffffff;
    /*text-decoration: underline;*/
}

.display-inline {
    display: inline-block;
}

#map {
  margin-top: 52px;
  height: calc(100vh - 52px);
}